body{
  background:#383638
}
.items-wrapper{
  background-color:rgba(128, 128, 128, 0.201);
  padding:20px;

  width:95%;
  margin:20px auto;

  
}

#root{
  display:flex;
  justify-content:center;
  align-items:center
  
}